@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-nunito bg-[#f9faff];
  }
}

.bg-white {
  transition: background-color 0.3s ease-in-out;
}

.dark .bg-white {
  background-color: #1a202c;
}

:root {
  transition: background-color 0.3s ease-in-out;
}

.dark {
  background-color: #1a202c;
  color: white;
}